.ArticlePlanete{
    
    p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1{
        margin-bottom: 50px;
        text-align: center;
        font-size: 400%;
    }
}