.administration{
    height: 951px;


    h1{
        font-size: 150%;
        color: white;
    }


    .header-dashboard{
        height: 80px;
        width: 100%;
        background: $colors-blue;
        box-shadow: 0px 4px 0px #afafaf;
    }
}